
main{
    padding: 16px;
    display: inline-block;
}

body {
    margin: 0;
    padding: 0;
}

nav {

    background-color: orangered;
    border-bottom: 1px solid black;
    padding: 16px;
    margin-top: 0;
    
}

footer {
    font-size: larger;
    padding-top: 24px;
    padding-left: 16px;
    padding-right: 0px;
    padding-bottom: 16px;
    background-color: #b5cf66;
    position: relative;
    bottom: 0;
    width: 100%;    
}

/* .grid {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, 186px);
  } */
  

div {
    display: inline-block;
    padding: 5px;
}

h1 {
    padding-left: 16px;
    color: rgb(3, 79, 3);
}

h2 {
    padding-left: 16px;
}

a{
    text-decoration: none;
    color: green;
}

#header-color{
    color: white;
}

a:hover {
    color: blue;
}

tr:nth-child(even) {
    background-color: lightblue;
}
